body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #2e2f42;
}

a:hover {
  color: #404bbf;
}

ul {
  list-style-type: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-accent {
  color: #2e2f42;
}

.menu-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.studio-underline:hover {
  text-decoration: underline;
}

.contact-nav {
  font-style: normal;
}

.hero {
  background-color: #2e2f42;
}

.hero-moto {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.order-button {
  background-color: #4d5ae5;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}
h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.111;
  letter-spacing: 0.02em;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-section {
  background-color: #f4f4fd;
}

.team-card {
  background-color: #ffffff;
}

.team-card h3,
.team-card p {
  text-align: center;
}

.page-footer {
  background-color: #2e2f42;
}

.page-footer p {
  color: #f4f4fd;
}
